version: 1.0.{build}
environment:
  GH_TOKEN: 770c923d6c387ac313754b6df58ef5fe66d11684

branches:
  only:
    - master

image: Visual Studio 2017
platform:
  - x64

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'
  - '%USERPROFILE%\AppData\Local\Yarn\cache'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 8 x64
  - git reset --hard HEAD
  - npm install
  - node --version

build_script:
  - npm run build

test: off

deploy:
  tag: testapptag-v$(appveyor_build_version)
  release: testapp-v$(appveyor_build_version)
  description: 'TestApp'
  provider: GitHub
  auth_token:
    secure: {GH_TOKEN} # your encrypted token from GitHub
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only