.side-bar-wrapper {
  width: 256px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  position: relative;
  left: 256px;
  width: calc(100% - 256px);
  height: 100vh;
  margin: 0;
  padding: 0;

  .row {
    margin: 0;
    padding: 0;
  }
}
