@import "variables";

/* Shipbob Custom Mixins */

@mixin icomoon {
  font-family: icomoon;
}

@mixin proxima-nova {
  font-family: proxima-nova, sans-serif;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate($degrees); /* IE 9 */
  transform: rotate($degrees); /* IE 10, Fx 16+, Op 12.1+ */
}
